/* Variables */
:root{
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(231, 7%, 60%);
}

/* General */

/* *{
    margin: 0;
    padding: 0;

} */

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 16px;
}

.page-wrapper{
    margin: 0 auto;
}

picture .hero{
    width: 100%;  
}

/* Typography */
p{
    font-size: 1rem;
    line-height: 1.5rem;
}
h1{
    font-size: 2rem;
    font-weight: 800;
}

/* sign up form */

.sign-up{
    padding: 1rem;
}
.sign-up ul{
    padding: 0;

}

.sign-up ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

}

.sign-up ul li::before {
    content: url(../images/icon-list.svg);
    margin-right: 15px;
    

}

/* Form */
/* .sign-up__form{

} */

.sign-up__form label{
    color:var(--grey);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--charcoalGrey);
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 15px;
}

.sign-up__form input, .sign-up__form button{
    border-radius: 5px;
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
    border:1px solid var(--grey);  
    margin-bottom: 0.4rem; 
}

.sign-up__form button{
    background-color: var(--darkSlateGrey);
    color: var(--white);
    border: none;
    margin-top: 10px;
}


/* Tablets & Laptops */
@media(min-width: 768px) {
    .page-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    h1{
        font-size: 3rem;
    }
    .sign-up{
        width: 400px;
        margin-right: 6rem;
    }

}
    
